.footer {
  background-color: $secondaryGlobalColor;
  height: 15vh;
  @include flexbox(column, space-around, center);

  &__socialMedias{
    @include flexbox(row, center, center);

    .icons {
      height: 40px;
      width: 40px;
    }
  }
}