.header {
  height: 8vh;
  @include flexbox(column, space-between, center);
  z-index: 100;


  .header__basic{
    @include flexbox(row, space-between, center);
    width: 100%;
    margin-top: 8px;
    position: relative;

    .basic__logo {
      height: 5vh;
      margin-right: 10px;
  
    }
  }

  
  .header-is-open {
    height: 60vh;
    @include flexbox(column, space-around, center);

    .container {
        position: absolute;
        z-index: 1;


        @include tablet-up {
            display: none;
        }
    }


}

  

  .menu {
    display: none;
    list-style-type: none;
    z-index: 88;

    @include tablet-up {
      @include flexbox(column, space-around,center);
      padding: 4px 15vw;
      margin-top: 20px;
      width: 100vw;

    }

    li {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      border: $border;
      padding-top: 25px;
      


    }
  }

  .is-open-menu {
      @include flexbox(column, space-around, stretch);
      background-color: white;
      color: $primaryGlobalColor;
      text-align: center;
      font-style: bold;
      font-weight: 900;
      height: 50vh;
      width: 100vw;
  }
}

.container {
  @include flexbox(row, space-around, center);
  display: inline-block;
  width: 65px;
  cursor: pointer;


  @include tablet-up {
      display: none;
  }
}

.bar {
  width: 30px;
  height: 3px;
  background-color: $primaryGlobalColor;
  margin: 6px 0;
  margin-left: 10px;
  transition: 0.4s;
}

// .is-click {
//   margin-top: 20px;
// }


.is-click .bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-6.5px, 6.5px);
  transform: rotate(-45deg) translate(-6.5px, 6.5px);
}

.is-click .bar:nth-child(2) {
  opacity: 0;
}

.is-click .bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-6.5px, -6.5px);
  transform: rotate(45deg) translate(-6.5px, -6.5px);
}
