.mainContent {
  color: $primaryTextColor;

  &__hero {
    height: 80vh;
    background-image: url("/assets/image/grilledpicExample.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .hero {
      position: absolute;

      &__title {
        color: $secondaryTextColor;
        font-size: 80px;
        text-align: center;
        padding: 120px 0 24px;
      }

      &__text {
        color: $secondaryTextColor;
        font-size: 32px;
        text-align: center;
      }
    }
  }

  &__aboutUs {
    height: 90vh;
    color: $secondaryGlobalColor;
    

    .aboutUs__picture {
      height: 50vh;
      width: 90vw;
      margin: 8vh 5vw;

    }

    .aboutUs__text {
      font-size: 24px;
      text-align: center;
    }
  }

  &__foodMenu {
    height: 80vh;
    color: $secondaryGlobalColor;
    @include flexbox(column, space-around, center);

    .foodMenu__title {
      font-size: 48px;
      text-align: center;
    }

    .boxMenu{
      border: $border;
      height: 50vh;
      width: 90vw;
      //margin: 8vh 5vw;
      @include flexbox(column, space-around, center);
      
      &__picture {
        height: 80%;
        width: 90%;
      }

    }
  }

  &__orders {
    height: 50vh;
    @include flexbox(column, center, center);

    .orders__phone {
      @include flexbox(row, center, center);

      .phone__icon {
        color: $primaryGlobalColor;
        @include iconOnMobile;
      }
    }

    .orders__gofood {
      height: 56px;
      width: 120px;
    }

    .orders__grabfood {
      @include iconOnMobile;
    }
  }


}